@charset "UTF-8";
* {
  pointer-events: fill;
}

*, :after, :before {
  box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}
body, html {
  height: 100%;
  width: 100%;
}

html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
}

applet, article, aside, audio, blockquote, body, canvas, caption, dd, details, div, dl, dt, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, iframe, input, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, section, span, strike, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, ul, var, video {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: 400;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main menu, nav, section, summary {
  display: block;
}

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden], [list]::-webkit-calendar-picker-indicator, template {
  display: none;
}

a img, abbr, acronym, body, html, img {
  border: 0;
}

address, caption, cite, code, dfn, em, th, var {
  font-style: normal;
  font-weight: 400;
}

dir, menu, ol, ul {
  list-style: none;
}

a {
  background-color: transparent;
}

:focus, a, a:active, a:hover {
  outline: 0;
  border: 0;
}

caption, table th {
  text-align: left;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

table td {
  vertical-align: top;
}

q:after, q:before {
  content: '';
}

blockquote, q {
  quotes: none;
}

hr {
  height: 0;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

blockquote:after, blockquote:before, q:after, q:before {
  content: '';
  content: none;
}

sub, sup {
  line-height: 0;
}

svg:not(:root) {
  overflow: hidden;
}

nav ol, nav ul {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}

@-moz-viewport {
  width: device-width;
}
@-ms-viewport {
  width: device-width;
}
@-webkit-viewport {
  width: device-width;
}
@viewport {
  width: device-width;
}
summary {
  display: list-item;
  cursor: pointer;
}

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0;
  line-height: inherit;
}

button {
  overflow: visible;
}

button, select {
  text-transform: none;
}

[type=button], [type=reset], [type=submit], button {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

button::-moz-focus-inner, input::-moz-focus-inner, legend {
  border: 0;
  padding: 0;
}

input[type=checkbox], input[type=radio] {
  padding: 0;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  height: auto;
}

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
}

img, svg {
  vertical-align: middle;
}

[type=button], [type=reset], [type=submit], button {
  -webkit-appearance: button;
}

[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
  cursor: pointer;
}

code, kbd, pre, samp {
  font-family: 'Gilroy', SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
  font-size: 1em;
  direction: ltr;
  unicode-bidi: bidi-override;
}

::-webkit-color-swatch-wrapper, ::-webkit-datetime-edit-day-field, ::-webkit-datetime-edit-fields-wrapper, ::-webkit-datetime-edit-hour-field, ::-webkit-datetime-edit-minute, ::-webkit-datetime-edit-month-field, ::-webkit-datetime-edit-text, ::-webkit-datetime-edit-year-field {
  padding: 0;
}

::-webkit-inner-spin-button {
  height: auto;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}

::file-selector-button {
  font: inherit;
}

[type=search] {
  outline-offset: -2px;
  -webkit-appearance: textfield;
}

img {
  max-width: 100%;
}

select {
  word-wrap: normal;
}

progress {
  vertical-align: baseline;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

svg {
  overflow: hidden;
  vertical-align: middle;
}

a {
  color: inherit;
  text-decoration: inherit;
}

h6, h5, h4, h3, h2, h1 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 400;
  line-height: 1.2;
  color: var(--color-main-black, inherit);
}

h1 {
  font-size: calc(1.375rem + 1.5vw);
}

@media (min-width: 1200px) {
  h1 {
    font-size: 2.5rem;
  }
}
h2 {
  font-size: calc(1.325rem + 0.9vw);
}

@media (min-width: 1200px) {
  h2 {
    font-size: 2rem;
  }
}
h3 {
  font-size: calc(1.3rem + 0.6vw);
}

@media (min-width: 1200px) {
  h3 {
    font-size: 1.75rem;
  }
}
h4 {
  font-size: calc(1.275rem + 0.3vw);
}

@media (min-width: 1200px) {
  h4 {
    font-size: 1.5rem;
  }
}
h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
  color: var(--color-black);
  font-weight: 300;
  font-size: 1.125rem;
  line-height: 1.6875rem;
}
@media only screen and (max-width: 576px) {
  p {
    font-weight: 300;
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}

:root {
  --color-black:#000;
  --color-white:#fff;
  --color-yelloy:#fcd401;
  --color-black-gray:#181818;
}

@font-face {
  font-family: 'BaronNeue';
  src: url(fonts/Baron-Black.otf);
}
html,
body {
  height: 100%;
}

body {
  background: #181818;
  font-family: 'BaronNeue';
}

main {
  flex: 1 0 auto;
}

.header {
  margin: 0 auto;
  z-index: 101;
  max-width: 100%;
  height: 100%;
  background-image: url(../img/Баннеры/Баннер.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.header .header__navbar {
  color: #fcd401;
  display: flex;
  position: fixed;
  top: 0;
  margin-top: 25px;
  height: 75px;
  background-color: rgba(0, 0, 0, 0.7);
  max-width: 100%;
  width: 100%;
  z-index: 101;
  justify-content: center;
}
.header .header__navbar::after {
  content: '';
  max-width: 2000px;
  border-top: 10px #fcd401 solid;
  flex: 1 1 auto;
}
.header .header__navbar::before {
  content: '';
  max-width: 2000px;
  border-bottom: 10px #fcd401 solid;
  flex: 1 1 auto;
}
.header .header__logo--bottom {
  border-bottom: 10px #fcd401 solid;
}
.header .header__logo {
  display: flex;
}
.header .header__logo::after {
  content: '';
  margin: 0 20px;
  width: 50px;
  height: 100%;
  -webkit-transform: skew(-50deg);
  -moz-transform: skew(-50deg);
  -o-transform: skew(-50deg);
  background: #fcd401;
}
.header .header__logo .logo {
  padding: 5px 30px;
}
.header .header__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fcd401;
  text-align: center;
  height: 100%;
}
.header .header__title .header__company {
  font-size: 110px;
}
.header .header__title .header__slogan {
  color: aliceblue;
  font-size: 25px;
}
.header .img-container .header-img {
  width: 100%;
  max-width: 720px;
  height: 85vh;
}

.flex-container {
  display: flex;
  height: 100%;
  align-items: flex-end;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.logo {
  font-size: 40px;
  font-weight: 400;
  color: #fcd401;
}

.navbar {
  width: 740px;
  min-width: 550px;
}
.navbar .navbar-list {
  display: flex;
  border-top: 10px #fcd401 solid;
  column-gap: 20px;
  justify-content: center;
}
.navbar .navbar-item {
  padding-top: 5px;
  font-size: 25px;
  font-style: normal;
  font-weight: 1S00;
}

.navbar-link:hover {
  display: block;
  color: aliceblue;
  transform: scale(1.1);
  transition: all 0.5s ease 1ms;
}
.navbar-link:not(:hover) {
  transition: all 1s ease 1ms;
}

.burger-menu,
.mobile-navbar {
  line-height: 50px;
  display: none;
  font-size: 25px;
  z-index: 10;
}

.mobile-navbar.mobile-navbar--open {
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  position: absolute;
  text-align: center;
  top: 75px;
  left: 0;
  right: 0;
  height: 220px;
  z-index: 10;
}

.burger-menu--margin {
  margin-right: 30px;
}

@media (max-width: 1200px) {
  .img-container {
    display: none;
  }
}
@media (max-width: 992px) {
  .navbar {
    display: none;
  }

  .header .header__navbar {
    max-width: 1000px;
    justify-content: space-between;
    align-items: center;
  }
  .header .header__navbar .burger-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40px;
    height: 30px;
    background-color: transparent;
    border: none;
  }
  .header .header__navbar .burger-menu .burger-menu__bar {
    height: 3px;
    width: 100%;
    background-color: #fcd401;
  }
  .header .header__navbar::after {
    display: none;
  }
  .header .header__navbar::before {
    display: none;
  }
  .header .header__logo--bottom {
    border: 0;
  }

  .header__logo::after {
    display: none;
    content: '';
  }
}
@media (min-width: 992px) {
  .mobile-navbar.mobile-navbar--open {
    display: none;
  }
}
@media (max-width: 720px) {
  .mobile-navbar {
    line-height: 50px;
    font-size: 20px;
  }

  .header .header__title .header__company {
    font-size: 90px;
  }
  .header .header__title .header__slogan {
    color: aliceblue;
    font-size: 20px;
  }
}
@media (max-width: 576px) {
  .header .header__logo .logo {
    padding-left: 10px;
    font-size: 25px;
  }

  .burger-menu--margin {
    margin-right: 10px;
  }

  .header .header__title .header__company {
    font-size: 70px;
  }
  .header .header__title .header__slogan {
    color: aliceblue;
    font-size: 15px;
  }
}
@media (max-width: 320px) {
  .header .header__title .header__company {
    font-size: 55px;
  }
  .header .header__title .header__slogan {
    color: aliceblue;
    font-size: 12px;
  }
}
.main .section {
  color: #fcd401;
}
.main .article-description {
  color: #fcd401;
}
.main .section-title {
  text-align: center;
  font-size: 50px;
  margin: 60px 0;
}
.main .section-title::after {
  display: block;
  content: "";
  margin: 10px auto;
  width: 200px;
  border-bottom: 4px solid #fcd401;
}
.main .slider-container {
  display: flex;
  width: 55%;
}
.main .about-section__trianle::after {
  content: '';
  width: 20%;
  height: 100%;
  background: linear-gradient(102deg, #fcd401 50%, #000 50%);
  opacity: 0.6;
}
.main .services-section__trianle::after {
  content: '';
  width: 21%;
  height: 100%;
  background: linear-gradient(102deg, #000 50%, #fcd401 50%);
  opacity: 0.6;
}
.main .article-container {
  display: flex;
  width: 55%;
}
.main .slider {
  display: flex;
  background-color: rgba(252, 212, 1, 0.6);
  width: 80%;
  justify-content: center;
  align-items: center;
}
.main .slider .slider__img {
  width: 90%;
  height: 90%;
}
.main .section__article {
  display: flex;
  justify-content: center;
}
.main .article-block {
  display: flex;
  width: 45%;
  background-color: rgba(0, 0, 0, 0.6);
  flex-direction: column;
  justify-content: center;
  padding: 0 20px;
}
.main .services-section--width {
  width: 80%;
}
.main .article-title {
  padding-left: 20px;
  padding-bottom: 10px;
}
.main .article-description {
  color: aliceblue;
  font-size: 1rem;
}
.main .services-slider--width {
  width: 100%;
}
.main .services-section__ol {
  list-style: decimal;
  padding-left: 15px;
}
.main .form {
  display: flex;
  flex-direction: column;
  width: 65%;
  background-color: white;
  gap: 30px;
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
.main .form-section__img-container {
  display: flex;
  justify-content: center;
  align-items: end;
  width: 50%;
}
.main .section__article--back-img {
  background-image: url(../img/Баннеры/Баннер2.png);
  background-size: 100% 100%;
}
.main .form-section__img {
  width: 80%;
}
.main .form-conainer {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: center;
  align-items: center;
}
.main .form__input {
  padding: 5px 0;
  width: 100%;
  border: 0;
  border-bottom: 1px black solid;
}
.main .form-title {
  font-size: 1.3rem;
  background-color: white;
  width: 65%;
  text-align: center;
  margin: 0;
  padding: 25px 20px;
  color: black;
}
.main .form__label {
  font-size: 0.9rem;
  color: black;
}
.main .form__button {
  background-color: #7f2121;
  color: white;
  padding: 10px 5px;
  margin: 0 15px;
  font-size: 1.3rem;
  border: 0;
}
.main .form__button:hover {
  transform: scale(0.9);
  transition: all 1s ease-out;
}
.main .form__button:active {
  background-color: rgba(127, 33, 33, 0.8);
  transition: none;
}

.footer::before {
  display: block;
  content: '';
  margin-top: 50px;
  padding-bottom: 30px;
  border-top: #fcd401 4px solid;
  width: 80%;
  margin: 0 auto;
  margin-top: 50px;
}
.footer .footer__container {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
  font-family: Arial, Helvetica, sans-serif;
}
.footer .social {
  display: flex;
  width: 150px;
  gap: 20px;
  padding: 30px 0;
}
.footer .contact-info {
  width: 20%;
  min-width: 245px;
}
.footer .call-number {
  color: #fcd401;
}
.footer .contact-info__compani-info {
  color: white;
}

@media (max-width: 992px) {
  .main .article-container {
    display: flex;
    width: 50%;
    background-color: rgba(0, 0, 0, 0.6);
    flex-direction: column;
    justify-content: center;
    padding: 0 20px;
  }
  .main .article-container .article-block {
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
  }
  .main .section-title {
    font-size: 50px;
  }
  .main .slider-container {
    display: flex;
    width: 50%;
    min-width: 450px;
  }
  .main .about-section__trianle::after {
    display: none;
  }
  .main .services-section__trianle::after {
    display: none;
  }
  .main .slider {
    display: flex;
    background-color: rgba(252, 212, 1, 0.6);
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .main .section__article {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .main .article-block {
    display: flex;
    width: 50%;
    background-color: rgba(0, 0, 0, 0.6);
    flex-direction: column;
    justify-content: center;
    padding: 0 20px;
  }
}
@media (max-width: 920px) {
  .main .section-title {
    font-size: 40px;
  }
  .main .slider-container {
    width: 100%;
  }
  .main .article-block {
    padding: 40px 30px;
    width: 100%;
  }
  .main .article-container {
    width: 100%;
  }
  .main .form-section__img-container {
    display: none;
  }
  .main .form-conainer {
    margin: 10px 0;
    width: 85%;
  }

  .footer::before {
    width: 90%;
  }
  .footer .call-number {
    font-size: 25px;
  }
  .footer .contact-info__compani-info {
    font-size: 15px;
  }
}
@media (max-width: 576px) {
  .main .section-title {
    font-size: 25px;
  }
  .main .slider-container {
    min-width: 200px;
  }
  .main .form-conainer {
    width: 100%;
  }
  .main .form-title {
    width: 90%;
  }
  .main .form {
    width: 90%;
  }

  .footer .footer_logo {
    display: flex;
    width: 100%;
    justify-content: center;
  }
  .footer .contact-info {
    text-align: center;
    width: 80%;
    margin: 0 auto;
  }
}
