// Переменные
@import "variables";
// Миксины
@import "mixins";
// Сбрасываем стили
@import "reboot";
// Сгенерированные классы 
@import "classes-generation";

@font-face {
    font-family: 'BaronNeue';
    src: url(fonts/Baron-Black.otf);
}


html,
body {
    height: 100%
}

body {
    background: #181818;
    font-family: 'BaronNeue';
}

main{
    flex: 1 0 auto;
}

// Header
.header {
    margin: 0 auto;
    z-index: 101;
    max-width: 100%;
    height: 100%;
    background-image: url(../img/Баннеры/Баннер.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;


    .header__navbar {
        color: $yelloy;
        display: flex;
        position: fixed;
        top: 0;
        margin-top: 25px;
        height: 75px;
        background-color: rgba($color: $black, $alpha: 0.7);
        max-width: 100%;
        width: 100%;
        z-index: 101;
        justify-content: center;

        &::after{
            content: '';
            max-width: 2000px;
            border-top: 10px $yelloy solid;
            flex: 1 1 auto;
        }

        &::before {
            content: '';
            max-width: 2000px;
            border-bottom: 10px $yelloy solid;
            flex: 1 1 auto;
        }
        
    }
    
    .header__logo--bottom{
        border-bottom: 10px $yelloy solid;
    }
    .header__logo{
        display: flex;
        &::after{
            content: '';
            margin: 0 20px;
            width: 50px;
            height: 100%;
            -webkit-transform: skew(-50deg);
            -moz-transform: skew(-50deg);
            -o-transform: skew(-50deg);
            background: $yelloy;
        }
        .logo {
            padding: 5px 30px;
        }
    }

    .header__title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: $yelloy;
        text-align: center;
        height: 100%;
        .header__company {
            font-size: 110px;
        }

        .header__slogan {
            color: aliceblue;
            font-size: 25px;
        }
    }

    .img-container {
        
        .header-img {
            width: 100%;
            max-width: 720px;
            height: 85vh;
        }
    }
}

.flex-container {
    display: flex;
    height: 100%;
    align-items: flex-end;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.logo {
    font-size: 40px;
    font-weight: 400;
    color: $yelloy;
}

.navbar {
    width: 740px;
    min-width: 550px;
    
    .navbar-list {
        display: flex;
        border-top: 10px $yelloy solid;
        column-gap: 20px;
        justify-content: center;
    }

    .navbar-item {
        padding-top: 5px;
        font-size: 25px;
        font-style: normal;
        font-weight: 1S00;
    }

}

.navbar-link {
    &:hover{
        display: block;
        color: aliceblue;
        transform: scale(1.1);
        transition: all 0.5s ease 1ms;
    }
    
    &:not(:hover){
        transition: all 1s ease 1ms;
    }
}

.burger-menu,
.mobile-navbar{
    line-height: 50px;
    display: none;
    font-size: 25px;
    z-index: 10;
}

.mobile-navbar.mobile-navbar--open{
    background-color: rgba($color: $black, $alpha: 0.2);
    display: flex;
    flex-direction: column;
    position: absolute;
    text-align: center;
    top: 75px;
    left: 0;
    right: 0;
    height: 220px;
    z-index: 10;
}


.burger-menu--margin {
    margin-right: 30px;
}

@media (max-width: 1200px)  {

    .img-container {
        display: none;
    }
}



@media (max-width: 992px)  {
    .navbar {
        display: none;
    }

    .header {
        .header__navbar {
            max-width: 1000px;
            justify-content: space-between;
            align-items: center;

            .burger-menu{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                width: 40px;
                height: 30px;
                background-color: transparent;
                border: none;

                .burger-menu__bar {
                    height: 3px;
                    width: 100%;
                    background-color: $yelloy;
                }
            }

            &::after{
                display: none;
                
            }

            &::before {
                display: none;
                
            }
        }
        .header__logo--bottom{
            border: 0;
        }
    }

    .header__logo{
        &::after{
            display: none;
            content: '';
        }   
    }
}

@media (min-width: 992px)  {
    .mobile-navbar.mobile-navbar--open{
        display: none;
    }
}

@media (max-width: 720px) {
    .mobile-navbar{
        line-height: 50px; 
        font-size: 20px;
    }
    .header {
        .header__title {
            .header__company {
                font-size: 90px;
            }

            .header__slogan {
                color: aliceblue;
                font-size: 20px;
            }
        }
    }
}

@media (max-width: 576px) {
    .header {
        .header__logo{
            .logo {
                padding-left: 10px;
                font-size: 25px;
            }
        }
    }

    .burger-menu--margin {
        margin-right: 10px;
    }

    .header {
        .header__title {
            .header__company {
                font-size: 70px;
            }

            .header__slogan {
                color: aliceblue;
                font-size: 15px;
            }
        }
    }
}

@media (max-width: 320px) { 
    .header {
        .header__title {
            .header__company {
                font-size: 55px;
            }

            .header__slogan {
                color: aliceblue;
                font-size: 12px;
            }
        }
    }
}

// Header end

.main {
    .section {
        color: $yelloy;
    }
    .article-description {
        color: $yelloy;
    }

    .section-title {
        text-align: center;
        font-size: 50px;
        margin: 60px 0;

        &::after {
            display: block;
            content: "";
            margin: 10px auto;
            width: 200px;
            border-bottom: 4px solid $yelloy;
        }
    }

    .slider-container {
        display: flex;
        width: 55%;
    }

    .about-section__trianle {
        &::after {
            content: '';
            width: 20%;
            height: 100%;
            background: linear-gradient(102deg, $yelloy 50%, $black 50%);
            opacity: 0.6;
        }
    }

    .services-section__trianle {
        &::after {
            content: '';
            width: 21%;
            height: 100%;
            background: linear-gradient(102deg, $black 50%, $yelloy 50%);
            opacity: 0.6;
        }
    }

    .article-container {
        display: flex;
        width: 55%;
    }

    .slider {
        display: flex;
        background-color: rgba($color: $yelloy, $alpha: 0.6);
        width: 80%;
        justify-content: center;
        align-items: center;
        .slider__img {
            width: 90%;
            height: 90%;
            
        }

    }

    .section__article {
        display: flex;
        justify-content: center;
    }

    .article-block {
        display: flex;
        width: 45%;
        background-color: rgba($color: $black, $alpha: 0.6);
        flex-direction: column;
        justify-content: center;
        padding: 0 20px;
    }

    .services-section--width {
        width: 80%;
    }

    .article-title {
        padding-left: 20px;
        padding-bottom: 10px;
    }

    .article-description {
        color: aliceblue;
        font-size: 1rem;
    }

    .services-slider--width {
        width: 100%;
    }

    .services-slider--hidden {
        display: none;
    }

    .services-section__ol {
        list-style: decimal;
        padding-left: 15px;
    }

    .services-section__list-item {
        &:hover {
            text-decoration: underline;
        }

        &--active {
            color: white;
        }
    }

    .form {
        display: flex;
        flex-direction: column;
        width: 65%;
        background-color: white;
        gap: 30px;
        padding: 20px;
        font-family: Arial, Helvetica, sans-serif;
    }

    .form-section__img-container {
        display: flex;
        justify-content: center;
        align-items: end;
        width: 50%;
    }

    .section__article--back-img {
        background-image: url(../img/Баннеры/Баннер2.png);
        background-size: 100% 100%;
    }

    .form-section__img {
        width: 80%;
    }

    .form-conainer {
        display: flex;
        flex-direction: column;
        width: 50%;
        justify-content: center;
        align-items: center;
    }

    .form__input {
        padding: 5px 0;

        width: 100%;
        border: 0;
        border-bottom: 1px black solid;
    }

    .form-title {
        font-size: 1.3rem;
        background-color: white;
        width: 65%;
        text-align: center;
        margin: 0;
        padding: 25px 20px;
        color: black;
    }

    .form__label {
        font-size: 0.9rem;
        color: black;
    }

    .form__button {
        background-color: #7f2121;
        color: white;
        padding: 10px 5px;
        margin: 0 15px;
        font-size: 1.3rem;
        border: 0;
    }

    .form__button:hover {
        transform: scale(0.9);
        transition: all 1s ease-out;
    }

    .form__button:active {
        background-color: rgba($color: #7f2121, $alpha: 0.8);
        transition: none;
    }

}

.footer {
    
    &::before {
        display: block;
        content: '';
        margin-top: 50px;
        padding-bottom: 30px;
        border-top: $yelloy 4px solid;
        width: 80%;
        margin: 0 auto;
        margin-top: 50px;
    }

    .footer__container {
        display: flex;
        justify-content: center;
        gap: 40px;
        flex-wrap: wrap;
        font-family: Arial, Helvetica, sans-serif;
    }

    .social {
        display: flex;
        width: 150px;
        gap: 20px;
        padding: 30px 0;
    }

    .contact-info {
        width: 20%;
        min-width: 245px;
    }

    .call-number {
        color: $yelloy;
    }

    .contact-info__compani-info {
        color: white;
    }

}

@media (max-width: 992px)  {
    .main {

        .slider.services-slider--hidden {
            display: none;
        }

        .article-container {
            display: flex;
            width: 50%;
            background-color: rgba(0, 0, 0, 0.6);
            flex-direction: column;
            justify-content: center;
            padding: 0 20px;

            .article-block {
                width: 100%;
                background-color: rgba($color: $black, $alpha: 0);
            }
        }

        .section-title {
            font-size: 50px;     
        }

        .slider-container {
            display: flex;
            width: 50%;
            min-width: 450px;
        }

        .about-section__trianle {
            &::after {
                display: none;
            }
        }

        .services-section__trianle {
            &::after {
                display: none;
            }
        }

        .slider {
            display: flex;
            background-color: rgba($color: $yelloy, $alpha: 0.6);
            justify-content: center;
            align-items: center;
            width: 100%;
        }

        .section__article {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
        }

        .article-block {
            display: flex;
            width: 50%;
            background-color: rgba($color: $black, $alpha: 0.6);
            flex-direction: column;
            justify-content: center;
            padding: 0 20px;
        }
    }
}

@media (max-width: 920px)  {
    .main {

        .services-slider--hidden {
            display: none;
        }

        .section-title {
            font-size: 40px;     
        }

        .slider-container {
            width: 100%;
        }

        .article-block {
            padding: 40px 30px;
            width: 100%;
        }

        .article-container {
            width: 100%;
        }

        .form-section__img-container {
            display: none;
        }

        .form-conainer {
            margin: 10px 0;
            width: 85%;
        }

    }

    .footer {
        
        &::before {
            width: 90%;
        }

        .call-number {
            font-size: 25px;
        }

        .contact-info__compani-info {
            font-size: 15px;
        }
    }

    
}

@media (max-width: 576px) {
    .main {


        .services-slider--hidden {
            display: none;
        }

        .section-title {
            font-size: 25px;     
        }

        .slider-container {
            min-width: 200px;
        }

        .form-conainer {
            width: 100%;
        }

        .form-title {
            width: 90%;
        }

        .form {
            width: 90%;
        }

    }

    .footer {
        .footer_logo {
            display: flex;
            width: 100%;
            justify-content: center;
        }
    
        .contact-info {
            text-align: center;
            width: 80%;
            margin: 0 auto;
        }
    }
}
